<script>

   $('#register-button').click(function() {
       var email = $('#user_email').val();
       var name = $('#name').val();
       var password = $('#password').val();
       var register_button = $('#register-button-message');
       register_button.html('Registering...');

       var register_button_icon = $('#register-button-icon');
       register_button_icon.removeClass('fa-arrow-right').addClass('fa-cog fa-spin');


       $.ajax({
           type: "POST",
           url: "/register",
           data: {
               email: email,
               name: name,
               password: password
           },
           success: function(response) {
               console.log(response);
               $('.modal-body').html(response['html']);
               $('#register-button').remove();
           },
           error: function(response) {
               console.log(response);
               var ajax_errors = $('#ajax-errors');
               var title = response.responseJSON['title'];
               var message = response.responseJSON['message'];
               ajax_errors.css('display', 'block');
               ajax_errors.find('strong').html(title);
               ajax_errors.find('span').html(message);
           },
           complete: function() {
               register_button.html('Register');
               register_button_icon.removeClass('fa-cog fa-spin').addClass('fa-arrow-right');
           }
       })
   })

</script>